* {
  margin: 0 auto;
  padding: 0;
}
.Contain {
  background-image: url("../../../public/pic.png");
  background-repeat: repeat;
  width: 1300px;
  height:1400px;
  background-attachment: fixed;
 
  min-width: none;
  height: 800px;
  margin: 0 auto;
}




