/* .div-Userinfo{
    font-size: 400px;
}  */

.Big-box{
    height: 80%;
    width: 90%;
    background-color: #f5ebce9a;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 15px;
    padding: 50px 35px;
}
.imageuserinfo{
  background-image: url(../../../public/pic.png);
  width: 900px;
  height: 700px;
}
.main-user{
  background-image: url(../../../public/pic.png);
  width: 1310px;
  height: 620px;

}
.div-Userinfo-button{
  margin-right: 230px;
}

  
/* .button-Userinfo{
    margin:30px ;
    background-color: #ffffff;
    height: 30px;
    width: 130px; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;

    
}  */
/* .button-Userinfo-singup{
    margin:30px ;
    background-color: #57e331;
    height: 30px;
    width: 130px; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;

} 
.button-Userinfo-singup:hover{
    background-color: rgb(51, 116, 60);
    width: 140px;
    height: 45px;
  } */
/* .button-Userinfo:hover{
    background-color: rgb(77, 79, 77);
    width: 140px;
    height: 45px;
  } */
  /* .icon-userinfo {
    position: relative;
    width: 25px; 
    height: 25px; 
    right: 20%;
    top: 10%;
   
  } */
 

/* CSS */

@media (min-width: 768px) {
  .button-Userinfo {
    padding: 0.25em 0.75em;
  }
}


@media (min-width: 768px) {
  .button-Userinfo-singup {
    padding: 0.25em 0.75em;
  }
}
.div-Userinfo{
    font-size: 40px;
    font-weight: bolder;
    position: relative;
    left: 5%;
    font-family: 'Rubik',sans-serif;
    color: rgba(0, 0, 0, 0.897);
    font-weight: bold;
}

.userImage{
    position: relative;
    width: 15%; 
    height: 130px; 
    /* right: 20%;
    top: 10%; */
    top:  20%;
    left: 8%;
    border-radius: 100px;
}
.input-file-update
{
    
    display: none;
    left: 15%;
    
}
#input-file1
{
    position: relative;
    right: 24%;
    height: 16px;
    width: 30px;
    top: 40%;
    left: -2%;
    font-size: 15px;
    font-family: 'Rubik',sans-serif;
  font-size: 16px;
  background-color: #2b9939;
  color: #ffffff;
  cursor: pointer;
  border-radius: 7px;
  padding: 0.25em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
#input-file1:active
{
    box-shadow: 0px 0px 0px 0px;
    /* top: 5px;
    left: 5px; */
}
@media (min-width: 768px) {
    #input-file1 {
      padding: 0.25em 0.75em;
    }
  }
#Email-field{
  position: absolute;
  bottom: 50%;
  left: 40%;
  height: 25px;
  width: 250px;
  background-color: white;
  border-width: 0.5px;
  border-radius: 3px;
}
#Email-field1{
  position: absolute;
  bottom: 55%;
  left: 40%;
  font-weight: bold;
  font-family: 'Rubik',sans-serif;
  
}
#Username-field{
  position: absolute;
  bottom: 50%;
  left: 70%;
  height: 25px;
  width: 250px;
  background-color: white;
  color: #000000;
  border-radius: 3px;
  border-width: 0.5px;
}
#Username-field1{
  position: absolute;
  bottom: 55%;
  left: 70%;
  font-weight: bold;
  font-family: 'Rubik',sans-serif;
}
 #password-field{
  position: absolute;
  bottom: 30%;
  left: 40%;
  height: 25px;
  width: 250px;
  background-color: white;
  color: #000000;
  border-radius: 3px;
  border-width: 0.5px;
}
 #password-field1{
  position: absolute;
  bottom: 35%;
  left: 40%;
  font-weight: bold;
  font-family: 'Rubik',sans-serif;
} 
 #phone-field{
  position: absolute;
  bottom: 30%;
  left: 70%;
  height: 25px;
  width: 250px;
  background-color: white;
  color: #000000;
  border-width: 0.5px;
  border-radius: 3px;
}
#phone-field1{
  position: absolute;
  bottom: 35%;
  left: 70%;
  font-weight: bold;
  font-family: 'Rubik',sans-serif;
}  
