.header-home-page{
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/Background\ image.png ");
    background-size: cover;
    background-position: top;
    background-size:1390px 350px;
    background-repeat: no-repeat;
   
    
  }
  
  
  
  