.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 5px;
    left: 40%;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .pagination a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: white;
  }
  
  .pagination .disabled a {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination .disabled a:hover {
    background-color: transparent;
  }
  
  .pagination .prev-next {
    display: flex;
    align-items: center;
  }
  
  .pagination .prev-next a {
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .pagination .prev-next a:hover {
    background-color: #f0f0f0;
  }
  
  
  .pagine-genres{
    position: absolute;
    bottom: -15px;
   
  }
  
  
  